## Regression

This notebook is a part of a course given by Janani Ravi at Pluralsight. The course name is "Designing a Machine Learning Model". 

The data can be found here: https://www.kaggle.com/sazid28/advertising.csv

In [1]:
import sklearn
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
print(sklearn.__version__)

0.22.2.post1

#### Data

In [5]:
advertising_data = pd.read_csv("../dataset/Advertising.csv", index_col=0)
advertising_data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [6]:
advertising_data.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

### Analysis